

:focus {
 /* TODO Not sure where to design this */
}

body {
  /* TODO */
  background-color: darkblue;
}

input {
 /* TODO */
 border: none;
}

.search-container {
 /* TODO */
 max-width: max-content;
   background: red;
   margin: 25px auto;
}

.search-container .suggestions {
  /* TODO */
  width: 100%;
    background: 100%;
    background: black
}
.search-container input {
 /* TODO */
 width: 100%;
    background: 100%;
    background: rgb(223, 125, 55)
}

ul {
  /* TODO */
  padding: 0px;
  margin: 10px;
  box-shadow: 0 1px 2px 0 rgba(22,200,55);
  max-height: 400px; 
}
ul.has-suggestions {
  /* TODO */
  display: flex;
  flex-flow: wrap;
}
ul li {
  /* TODO */
  padding: 10px;
  cursor: progress;
  background: rgb(55, 122, 185);
}
ul li:hover {
  /* TODO */
  background-color: #f55b22;
  box-shadow: none;
  border-bottom: 4px;
}

input {
   /* TODO */

   border: dotted blueviolet 4px;
}